In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [51]:
data = pd.read_csv(r'C:\Users\TJ\Documents\Machine Learning\Data sets\weight and height\weight-height.csv')

In [52]:
print(data.shape)
data.head()

(10000, 3)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [54]:
print("Shape of X data : ",(X.shape))
print("Shape of y data : ",(y.shape))
print(X)
print(y)

Shape of X data :  (10000, 3)
Shape of y data :  (10000,)
      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]
0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

In [40]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
y_pred

array([39.58239402, 12.95168324, 41.92356069, 12.0452379 , 42.05946963,
       39.28628163, 40.79999655, 34.84049471, 50.15018352, 45.57596321,
       45.35285689, 41.34572498, 38.79094654, 40.10572538, 46.53393646,
       38.70847921, 39.80702168, 41.47127632, 41.7610089 , 42.49361355,
       49.1468402 , 31.81302255, 39.16184157, 46.24063756, 46.49219583,
       43.10198071, 46.32151807, 26.1278043 , 47.3900123 , 20.98052304,
       44.03894485, 34.7726307 , 43.32974226, 39.2050795 , 43.69491539,
       31.56451658, 47.1976703 , 40.08972049, 53.15820449,  7.25942379,
       51.78890909, 33.81267781, 33.77960594, 48.83111829, 14.91325118,
       43.59055022, 42.40970069, 12.24052675, 34.64954306, 47.93022598,
       52.67947976, 39.70392356, 48.67788875, 25.00512038, 30.9525337 ,
       33.92637587, 48.24575219, 40.97590854, 43.38260132, 32.75625508,
       43.87176365, 44.2214297 , 39.78920416, 47.41154954, 37.25210908,
       30.12726205, 10.41052944, 35.6113375 , 47.05630793, 40.53553101,
       31.44424444, 47.11366261, 44.84013415, 30.06525305, 41.0352289 ,
       36.10880642, 32.12998874, 13.23083234, 46.65630982, 45.17224709,
       47.71106763, 29.95204886, 43.85222711])

In [48]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6557366417645177

In [49]:
plt.scatter(data.'X2 house age',data.'Y house price of unit area', color='red')
plt.plot(X_test, regressor.predict(X_test), color='blue')
plt.title("Height and Weight data")
plt.legend()
plt.xlabel("Height")
plt.ylabel("Weight")
plt.show()

SyntaxError: invalid syntax (<ipython-input-49-3f471af7e6be>, line 1)